<ul class="nav nav-tabs">
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/template-forms">Template Forms</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/reactive-forms">Reactive Forms</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="active" class="nav-link" routerLink="/other/1">Not Found</a>
  </li>
</ul>
